.pi-plus-circle {
  position: absolute;
  right: 2%;
  bottom: 4%;
  font-size: 3rem;
  color: green;
}
.layout-row {
  display: flex;
  align-items: stretch;
}
p-card {
  height: 50px;
  width: 300px;
  max-width: 300px;
  padding-bottom: 5px;
  cursor: pointer;
}
.price {
  border-radius: 15px;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 10px;
  font-weight: 500;
  background-color: rgb(212, 237, 218);
  color: rgb(32, 94, 44);
  background-size: 60px;
}
